@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a style="border: 2px solid orange; border-radius: 20px; padding: 10px; margin: 5px; color:black; text-decoration:none;" asp-controller="Home" asp-action="Partial">Partial</a>
    <a style="border: 2px solid orange; border-radius: 20px; padding: 10px; margin: 5px; color:black; text-decoration:none;" asp-controller="Home" asp-action="Content">Content</a>
    <a style="border: 2px solid orange; border-radius: 20px; padding: 10px; margin: 5px; color:black; text-decoration:none;" asp-controller="Home" asp-action="Redirect">Redirect</a>
    <a style="border: 2px solid orange; border-radius: 20px; padding: 10px; margin: 5px; color:black; text-decoration:none;" asp-controller="Home" asp-action="File">FileResult</a>
    <a style="border: 2px solid orange; border-radius: 20px; padding: 10px; margin: 5px; color:black; text-decoration:none;" asp-controller="Home" asp-action="Json">Json</a>
    <a style="border: 2px solid orange; border-radius: 20px; padding: 10px; margin: 5px; color:black; text-decoration:none;" asp-controller="Home" asp-action="Empty">Empty</a>
    <a style="border: 2px solid orange; border-radius: 20px; padding: 10px; margin: 5px; color:black; text-decoration:none;" asp-controller="Home" asp-action="RedirectRoute">RedirectRoute</a>
</div>
